# Internal API Key                           # SECRET
INTERNAL_API_KEY=change_me_internal_key_xxxxx

# Redis
REDIS_HOST=sc-redis
REDIS_PORT=6379
REDIS_QUEUE_VIDEO=video_to_process
REDIS_QUEUE_FRAMES=task_frames

# MinIO
MINIO_ENDPOINT=sc-object-storage:9000
MINIO_ACCESS_KEY=sc-video-manager
MINIO_SECRET_KEY=change_me_sc_video_manager_minio_password  # SECRET
MINIO_USE_SSL=false
MINIO_BUCKET_RAW=raw-videos
MINIO_BUCKET_PENDING=pending-frames
MINIO_BUCKET_PROCESSED_FRAMES=processed-frames
MINIO_BUCKET_OUTPUT=processed-videos

# FFmpeg
VIDEO_FPS_DEFAULT=25
VIDEO_MAX_RESOLUTION=1920x1080

# Sentry
SENTRY_DSN=
