# Internal API Key                           # SECRET
INTERNAL_API_KEY=change_me_internal_key_xxxxx

# MinIO
MINIO_ENDPOINT=sc-object-storage:9000
MINIO_ACCESS_KEY=sc-active-learner
MINIO_SECRET_KEY=change_me_sc_active_learner_minio_password  # SECRET
MINIO_USE_SSL=false
MINIO_BUCKET_FEEDBACK=feedback-data
MINIO_BUCKET_MODELS=models

# Entrenament
TRAINING_MIN_SAMPLES=50
TRAINING_EPOCHS=10
TRAINING_BATCH_SIZE=16
YOLO_BASE_WEIGHTS=yolo/weights/v1.pt
CNN_BASE_WEIGHTS=cnn/weights/v1.keras

# Sentry
SENTRY_DSN=
