MINIO_ROOT_USER=change_me_minio_user         # SECRET
MINIO_ROOT_PASSWORD=change_me_minio_password # SECRET

# Passwords per als usuaris IAM de cada servei   # SECRET (tots)
SC_API_GATEWAY_MINIO_PASSWORD=change_me_sc_api_gateway_password
SC_VIDEO_MANAGER_MINIO_PASSWORD=change_me_sc_video_manager_password
SC_INFERENCE_WORKER_MINIO_PASSWORD=change_me_sc_inference_worker_password
SC_ACTIVE_LEARNER_MINIO_PASSWORD=change_me_sc_active_learner_password
SC_LABEL_STUDIO_MINIO_PASSWORD=change_me_sc_label_studio_password
