# Internal API Key                           # SECRET
INTERNAL_API_KEY=change_me_internal_key_xxxxx

# Redis
REDIS_HOST=sc-redis
REDIS_PORT=6379
REDIS_QUEUE_RESULTS=detected_frames_results

# MongoDB
MONGO_APP_URI=mongodb://sc-mongodb:27017/sc-app-db

# Lògica de cronometratge
TRACKING_DISAPPEARANCE_BUFFER_SECONDS=3
TRACKING_MIN_CONFIDENCE=0.6

# Sentry
SENTRY_DSN=
