# Servidor
API_HOST=0.0.0.0
API_PORT=8000
API_ENV=development

# JWT                                        # SECRET
JWT_SECRET=change_me_min_32_chars_xxxxxxxxxxx
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Internal API Key                           # SECRET
INTERNAL_API_KEY=change_me_internal_key_xxxxx

# MongoDB
MONGO_AUTH_URI=mongodb://change_me_mongo_user:change_me_mongo_password@sc-mongodb:27017/sc-auth-db?authSource=admin
MONGO_APP_URI=mongodb://change_me_mongo_user:change_me_mongo_password@sc-mongodb:27017/sc-app-db?authSource=admin

# Redis
REDIS_HOST=sc-redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password              # SECRET

# MinIO
MINIO_ENDPOINT=sc-object-storage:9000
MINIO_ACCESS_KEY=sc-api-gateway
MINIO_SECRET_KEY=change_me_sc_api_gateway_minio_password  # SECRET
MINIO_USE_SSL=false
MINIO_PUBLIC_URL=http://localhost:9000  # URL accessible des del navegador per a signed URLs

# Label Studio
LABEL_STUDIO_URL=http://sc-label-studio:8081
LABEL_STUDIO_API_TOKEN=          # SECRET
LABEL_STUDIO_PROJECT_ID=1

# Sentry (buit en dev, URL en prod)
SENTRY_DSN=
