# Label Studio
LABEL_STUDIO_PORT=8081
LABEL_STUDIO_USERNAME=admin@smartchrono.local          # SECRET
LABEL_STUDIO_PASSWORD=change_me_ls_password            # SECRET

# Integració MinIO (S3)
MINIO_ENDPOINT=http://sc-object-storage:9000
MINIO_PRESIGN_ENDPOINT=http://host.docker.internal:9000   # URL accessible des del navegador per a les URLs pre-signades
MINIO_ACCESS_KEY=sc-label-studio
MINIO_SECRET_KEY=change_me_sc_label_studio_minio_password  # SECRET
MINIO_BUCKET_FRAMES=labeling-frames
MINIO_BUCKET_DATASETS=datasets

# Persistència
LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true
LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=/label-studio/data
